<h4 class="text-warning">
    Привет,
    @if (User.Identity.IsAuthenticated)
    {
        @User.Identity.Name@:!
        @Html.ActionLink("Выйти", "Logout", "AppUser", null, new { @class = "text-primary" })
    }
    else
    {
        @:Гость!
        @Html.ActionLink("Войти", "Login", "AppUser", null, new { @class = "text-primary" })
        @:или
        @Html.ActionLink("Зарегистрироваться", "Register", "AppUser", null, new { @class = "text-primary" })
    }
</h4>
