body {
    /* Положение */
    position: absolute;
    margin: 5px;
    padding: 5px;
    width: 98%;
    height: 95%;
}

* {
    /* Шрифт */
    font-family: Consolas;
    font-size: 14px;
    /* Границы */
    border: solid 1px black;
}

.main_container {
    width: 100%;
    height: 100%;
}

.display_container {
    height: 70%;
}

.control_container {
    height: 30%;
}

.half_display {
    width: 40%;
}

.code_container {
    height: 100%;
    width: 100%;
    resize: none;
}

.log_container {
    width: 15%;
}

.log_element {
    height: 100%;
    width: 100%;
    resize: none;
}

.task_container {
    width: 35%;
}

.task_element {
    height: 100%;
    width: 100%;
}

.help_container {
    position: absolute;
    background-color: white;
    padding: 5px;
}