.display_table * {
    margin: 5px;
    padding: 5px;
    /* Шрифт */
    font-family: Consolas;
    font-size: 14px;
    /* Границы */
    border: solid 1px black;
}

textarea.form-control {
    resize: none;
}

.popup_container {
    position: absolute;
    background-color: white;
    padding: 5px;
}

.button_container {
    padding-top: 100px;
}

.borders {
    border: 1px solid #ccc
}

.borders_inside * {
    border: 1px solid #ccc
}
